body {

margin: 0;
font-family: Arial, sans-serif;
background: #FFF6EA;
color: black;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

height: 100vh;

}

.container {

text-align: center;

}

.main-icon {

width: 120px;
margin-bottom: 20px;

}

.coming {

font-size: 20px;
color: #0B60F5;
font-weight: bold;

}

#countdown {

display: flex;
gap: 40px;
margin-top: 30px;
justify-content: center;

}

#countdown span {

font-size: 40px;
font-weight: bold;
display: block;

}

footer {

position: absolute;
bottom: 20px;
text-align: center;

}

.footer-icon {

width: 30px;
margin-bottom: 5px;

}

footer p {

margin: 0;
font-size: 14px;

}